<footer class="page-footer blue-grey darken-3">
  <div class="container section-tiny">
    <div class="row">
      <div class="col l4 s12 small-screen-margin-top">
        <h3 class="white-text padding-bottom normal">Tags</h3>
        <div class="tags-widget-white">
          <div class="button-tag"><a href="blog-full.html">Featured</a></div>
          <div class="button-tag"><a href="blog-full.html">Sun</a></div>
          <div class="button-tag"><a href="blog-full.html">Rain</a></div>
          <div class="button-tag"><a href="blog-full.html">Weather</a></div>
          <div class="button-tag"><a href="blog-full.html">Envato</a></div>
          <div class="button-tag"><a href="blog-full.html">Baked</a></div>
          <div class="button-tag"><a href="blog-full.html">Material</a></div>
          <div class="button-tag"><a href="blog-full.html">Music</a></div>
          <div class="button-tag"><a href="blog-full.html">Art</a></div>
          <div class="button-tag"><a href="blog-full.html">Collective</a></div>
          <div class="button-tag"><a href="blog-full.html">Drink</a></div>
          <div class="button-tag"><a href="blog-full.html">ThemeForest</a></div>
        </div>
      </div>
      <div class="col l4 s12 small-screen-margin-top">
        <h3 class="white-text padding-bottom normal">Recent Posts</h3>
        <div class="media comment-widget margin-top padding-right">
          <div class="media-left media-middle pull-left"><a href="blog-single-sidebar.html"><img src="assets/images/blog-footer-1.jpg" width="50" alt="Widget Image" class="media-object circle"></a></div>
          <div class="media-body"><a href="blog-single-sidebar.html" class="comment-widget-title white-text">Newest Template</a>
            <p class="comment-widget-paragraph white-text opacity-07">I might which his had whose blessed they're creepeth thing...</p>
          </div>
        </div>
        <hr class="opacity-01 margin-top margin-bottom">
        <div class="media comment-widget margin-top padding-right">
          <div class="media-left media-middle pull-left"><a href="blog-single-sidebar.html"><img src="assets/images/blog-footer-2.jpg" width="50" alt="Widget Image" class="media-object circle"></a></div>
          <div class="media-body"><a href="blog-single-sidebar.html" class="comment-widget-title white-text">Branding the right way</a>
            <p class="comment-widget-paragraph white-text opacity-07">Darkness night whales with words more and bring also dry land...</p>
          </div>
        </div>
        <hr class="opacity-01 margin-top margin-bottom">
        <div class="media comment-widget margin-top padding-right">
          <div class="media-left media-middle pull-left"><a href="blog-single-sidebar.html"><img src="assets/images/blog-footer-3.jpg" width="50" alt="Widget Image" class="media-object circle"></a></div>
          <div class="media-body"><a href="blog-single-sidebar.html" class="comment-widget-title white-text">Hello world!</a>
            <p class="comment-widget-paragraph white-text opacity-07">Itself spirit yielding also Don't over great so. For yielding...</p>
          </div>
        </div>
        <hr class="opacity-01 margin-top margin-bottom">
      </div>
      <div class="col l4 s12 small-screen-margin-top">
        <h3 class="white-text padding-bottom normal">Newsletter</h3>
        <form class="subscribe-form">
          <div class="input-field">
            <div class="input-field">
              <input placeholder="Your E-mail address" id="first_name" type="text" class="validate">
            </div><span class="tiny opacity-03 block margin-bottom text-italic">We'll never spam you.</span>
          </div><a href="#" class="btn waves-effect waves-light pink accent-4">Submit</a>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <ul class="grey-text text-lighten-4 social-icons line-height-25">
        <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#!"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#!"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#!"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#!"><i class="fa fa-flickr"></i></a></li>
      </ul>
      <div class="right">2015 © Material by Andrew Chs</div>
    </div>
  </div>
</footer>
