<section class="section-nobottom grey background-8 section-overlay-darken">
  <div class="container row padding-top-big padded-big">
    <div class="col s12 m6 l6 text-left">
      <div class="row">
        <h2 class="bigger">Portfolio Grid 2</h2>
      </div>
    </div>
    <div class="col s12 m6 l6 text-right small-screen-text-left">
      <div class="row">
        <ul class="breadcrumb">
          <li><a href="home-slider.html" class="white-text opacity-09">Home</a></li>
          <li>Portfolio Grid 2</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="row">

    <header class="text-center">
      <h1 class="blue-grey-text text-darken-3 bigger">Our work </h1>
      <p class="blue-grey-text text-darken-3 padding-bottom">Projects Presented in a bigger grid</p>
      <div class="divider-1 center-block blue-grey-text lighten-3"><i class="material-icons tiny">adjust</i></div>
    </header>

    <div class="portfolio text-center row">
      <div class="portfolio-filter">
        <a href="#" data-filter="*" class="waves-effect waves-blue-grey">ALL</a>
        <a href="#" data-filter=".apps" class="waves-effect waves-blue-grey">APPS</a>
        <a href="#" data-filter=".web" class="waves-effect waves-blue-grey">WEB</a>
        <a href="#" data-filter=".print" class="waves-effect waves-blue-grey active">PRINT</a>
      </div>
      <ul class="masonry text-center isotope" style="position: relative; overflow: hidden; height: 636px;">
        <li class="col l4 m12 s12 apps isotope-item isotope-hidden" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(0.001, 0.001, 1); opacity: 0;"><img src="assets/images/work-1.jpg" alt="Image">
          <div class="portfolio-figure-overlay blue-grey valign-wrapper">
            <div class="row width-100"><a href="portfolio-single.html">WALLPAPER</a><span>APPS / PRINT</span><a href="#modal1" class="modal-trigger"><i class="material-icons">favorite</i></a></div>
          </div>
        </li>
        <li class="col l4 m12 s12 apps isotope-item isotope-hidden" style="position: absolute; left: 0px; top: 0px; transform: translate3d(635px, 0px, 0px) scale3d(0.001, 0.001, 1); opacity: 0;"><img src="assets/images/work-2.jpg" alt="Image">
          <div class="portfolio-figure-overlay blue-grey valign-wrapper">
            <div class="row width-100"><a href="portfolio-single.html">TEMPLATE</a><span>WEB</span><a href="#modal1" class="modal-trigger"><i class="material-icons">favorite</i></a></div>
          </div>
        </li>
        <li class="col l4 m12 s12 web isotope-item isotope-hidden" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(0.001, 0.001, 1); opacity: 0;"><img src="assets/images/work-3.jpg" alt="Image">
          <div class="portfolio-figure-overlay blue-grey valign-wrapper">
            <div class="row width-100"><a href="portfolio-single.html">MATERIAL APP</a><span>APPS </span><a href="#modal1" class="modal-trigger"><i class="material-icons">favorite</i></a></div>
          </div>
        </li>
        <li class="col l4 m12 s12 print isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;"><img src="assets/images/work-4.jpg" alt="Image">
          <div class="portfolio-figure-overlay blue-grey valign-wrapper">
            <div class="row width-100"><a href="portfolio-single.html">TEAM</a><span>PRINT</span><a href="#modal1" class="modal-trigger"><i class="material-icons">favorite</i></a></div>
          </div>
        </li>
        <li class="col l4 m12 s12 print isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(635px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;"><img src="assets/images/work-5.jpg" alt="Image">
          <div class="portfolio-figure-overlay blue-grey valign-wrapper">
            <div class="row width-100"><a href="portfolio-single.html">FONTS</a><span>PRINT</span><a href="#modal1" class="modal-trigger"><i class="material-icons">favorite</i></a></div>
          </div>
        </li>
        <li class="col l4 m12 s12 web isotope-item isotope-hidden" style="position: absolute; left: 0px; top: 0px; transform: translate3d(635px, 0px, 0px) scale3d(0.001, 0.001, 1); opacity: 0;"><img src="assets/images/work-6.jpg" alt="Image">
          <div class="portfolio-figure-overlay blue-grey valign-wrapper">
            <div class="row width-100"><a href="portfolio-single.html">POSTER</a><span>WEB</span><a href="#modal1" class="modal-trigger"><i class="material-icons">favorite</i></a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
